// Estilo da fontGoogles
$fontPrincipal: "Roboto", sans-serif;

// Paletas de cores
$corDeFundo: #f5f6fa;
$corPrinciapl: #182C61;
$corDoTxt: #fff;
$corButton:#44bd32;

// tipos de telas
$screenMobile:767px;
$screenTablet:1023px;



